menu(
	ng-show="menu.B_mostrar"
)
	h2 Short by
	ul
		li(
			ng-click="menu.F_cambiarOrden(0)"
			ng-class="{ 'activo' : menu.N_orden == 0 }"
		)
			span(data-icon='rocket')
			| Popularity
		li(
			ng-click="menu.F_cambiarOrden(1)"
			ng-class="{ 'activo' : menu.N_orden == 1 }"
		)
			span(data-icon='self-timer')
			| Latest updates
		li(
			ng-click="menu.F_cambiarOrden(2)"
			ng-class="{ 'activo' : menu.N_orden == 2 }"
		)
			span(data-icon='themes')
			| By Genere

	h2 List
	ul
		li(
			ng-click="menu.F_cambiarLista(0)"
			ng-class="{ 'activo' : menu.N_lista == 0 }"
		)
			span(data-icon='grid-circular')
			| All mangas
		li(
			ng-click="menu.F_cambiarLista(1)"
			ng-class="{ 'activo' : menu.N_lista == 1 }"
		)
			span(data-icon='star-full')
			| Favorites
		li(
			ng-click="menu.F_cambiarLista(2)"
			ng-class="{ 'activo' : menu.N_lista == 2 }"
		)
			span(data-icon='time')
			| History

	ul
		li
			a(
				href="#/ad"
				ng-click="menu.B_mostrar = false"
				data-icon='info'
			)
			a(
				href="#/c"
				ng-click="menu.B_mostrar = false"
				data-icon='settings'
			)
			a(
				href="#/a"
				ng-click="menu.B_mostrar = false"
				data-icon='help'
			)